*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

     overflow: auto;
    
}
.la{
    display: flex;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
}
.logo{
    position: absolute;
    top: 0.25rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.nav-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
    margin-left: 15rem;
    margin-top: 1rem;
    
}

.nav-buttons a{
    text-decoration: none;
    color: black;
}
.link{
    opacity: 0.8;
}
.link:hover{
    opacity: 1;
}
.nav-buttons button{
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.25rem 0.65rem;
    width: 6rem;
}
.nav-buttons button:hover{
    background-color: black;
    color: white;
}
.la{
  border: none;
}
.hero-text{
    width: 630px;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.hero-text h1{
    font-size:84px;
    color: #181E4B;
    font-weight: 550;
}
.hero-text h5{
    color: #DF6951;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 1rem;
}
.hero-text p{
    width: 460px;
    font-size: 16px;
    color: #5E6282;
    
}
.div1 button{
    background-color: #F1A501;
    border-radius: 10px;
    height: 3rem;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    width: 9rem;
    margin-left:2rem ;
    opacity: 0.9;
}
.div1 button:hover{
    opacity: 1;
}
.play{
    margin-top: 1rem;
}
.hero-btn{
    margin-bottom: 1rem;
}
.hero-content{
    display: flex;
    justify-content: center;
}
.hero-image img{
    background-image: url(./images/Decore.jpg);
}
.services h5{
    color: #5E6282;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    margin-top: 1.5rem;
}
.services h1{
    font-size:70px;
    color: #181E4B;
    font-weight: 550;
    display: flex;
    justify-content: center;
    height: 30px;
}
.service-card{
    display: flex;
    margin-top: 10rem;
    justify-content: center ;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-right: 5rem;
    /* border: none; */
    border-color: #FFFFFF;
    /* border: none; */
    width: 18rem;
    text-align: center;
    
    border-radius: 10%;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .card h5{
    color: #1E1D4C;
  }
  .card img{
    width: 92px;
    display: flex;
    justify-content: center;
    margin-left: 7rem;
    margin-top: 1rem;
  }
  .destinations h1{
        font-size:70px;
        color: #181E4B;
        font-weight: 550;
        display: flex;
        justify-content: center;
        height: 30px;
  }
  .destinations h5{
    color: #5E6282;
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    margin-top: 1.5rem;
  }